.yourFoodFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.yourFoodFormRow {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
}

.yourFoodInfoContainer {
  border: 1px solid var(--color-gray-700);
  border-radius: 10px;
  padding: 1rem;
}

.yourFoodInfoContainerOpen {
  border: 1px solid var(--color-blue-500);
  width: 100%;
  background-color: var(--color-slate-800);
}

.yourFoodInfoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.yourFoodInfoHeader:hover {
  cursor: pointer;
}

.yourFoodInfoButton {
  color: var(--color-slate-300);
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 1.25rem;
  height: fit-content;
  width: fit-content;
  transition: color 0.2s ease-in-out;
}

.animateArrow {
  animation-name: animateArrow;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.yourFoodInfoButton:hover {
  cursor: pointer;
  color: var(--color-slate-500);
}

@keyframes animateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
