.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  width: 8.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  background-color: var(--color-blue-500);
  color: var(--color-zinc-900);
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-in-out;
}

.link:hover {
  text-decoration-color: var(--color-zinc-900);
}

.link svg {
  font-size: 1.15rem;
}

.logContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
}

.nameAndDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.macrosContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.logTotalsText {
  color: var(--color-slate-500);
}

.calories {
  color: var(--color-red-400);
}

.fat {
  color: var(--color-yellow-400);
}

.carbs {
  color: var(--color-green-500);
}

.protein {
  color: var(--color-blue-500);
}

/* LogMealList styles */
.logMealList {
  list-style: none;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.deleteLogButtonRow {
  text-align: right;
}

.deleteLogButton {
  padding: 0.3rem 0.6rem;
  background-color: var(--color-red-400);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.deleteLogButton:hover {
  background-color: var(--color-red-300);
  cursor: pointer;
  transform: translateY(-3px);
}

.deleteLogForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.deleteLogForm div h2 {
  margin-bottom: 0.25rem;
}

.logName {
  color: var(--color-blue-500);
}

.confirmDeleteDialogue h4 {
  margin-bottom: 0.5rem;
}

.formFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.deleteButton {
  background-color: inherit;
  border: 1px solid var(--color-red-400);
  color: var(--color-red-400);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 15px;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: var(--color-red-500);
  border: 1px solid transparent;
  color: var(--color-zinc-900);
}

.deleteButton:disabled {
  cursor: not-allowed;
  border: 1px solid var(--color-gray-700);
  color: var(--color-gray-700);
}

.formHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeModalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-zinc-900);
  color: var(--color-slate-400);
  transition: color 0.2s ease-in-out;
}

.closeModalButton:hover {
  cursor: pointer;
  color: var(--color-red-400);
}

.closeModalButton:focus-visible {
  outline: 1px solid var(--color-red-400);
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-zinc-900);
  border-radius: 5px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.button:hover {
  color: var(--color-zinc-900);
  cursor: pointer;
  border: 1px solid transparent;
}

.dontWantToDoThatButton {
  color: var(--color-green-500);
  border: 1px solid var(--color-green-500);
}

.dontWantToDoThatButton:hover {
  background-color: var(--color-green-600);
}

.dontWantToDoThatButton:focus-visible {
  outline: 2px solid var(--color-green-300);
}

.deleteItButton {
  color: var(--color-yellow-400);
  border: 1px solid var(--color-yellow-400);
}

.deleteItButton:hover {
  background-color: var(--color-yellow-500);
}

.deleteItButton:focus-visible {
  outline: 2px solid var(--color-yellow-300);
}

.logNameInput {
  border-radius: 5px;
  border: 1px solid var(--color-gray-700);
  background-color: var(--color-zinc-900);
  height: 2rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: var(--color-slate-300);
}

.logNameInput:focus {
  background-color: var(--color-zinc-800);
}

.logNameInput:focus-visible {
  border: 1px solid var(--color-blue-500);
  outline: 2px solid var(--color-blue-500);
}

.noMealsInLogText {
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.noMealsInLogText h3 {
  color: var(--color-gray-400);
}

.noMealsInLogText a {
  text-decoration: none;
  color: var(--color-blue-500);
  border: 1px solid var(--color-blue-500);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.noMealsInLogText a:hover {
  background-color: var(--color-slate-800);
  border-radius: 10px;
}
