.macroDisplay {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.calories {
  color: var(--color-red-400);
}

.fat {
  color: var(--color-yellow-400);
}

.carbs {
  color: var(--color-green-400);
}

.protein {
  color: var(--color-blue-400);
}
