.yourFoodTotalsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.caloriesMacrosContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.macroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calories {
  color: var(--color-red-400);
}

.fat {
  color: var(--color-yellow-400);
}

.carbs {
  color: var(--color-green-400);
}

.protein {
  color: var(--color-blue-400);
}
