.editMealSearchContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.searchedFoodsError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  color: var(--color-gray-500);
  font-weight: 500;
  font-size: 1.5rem;
}

.searchedFoodsList {
  list-style: none;
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
  max-height: 12.5rem;
  overflow: auto;
}

.searchedFoodsListItem {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--color-gray-700);
  transition: background-color 0.2s ease-in-out;
}

.searchedFoodsListItem:hover {
  cursor: pointer;
  background-color: var(--color-slate-800);
}

.searchedFoodsListItem:last-of-type {
  border-bottom: none;
}
