.modalContainer {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px);
}

.modal {
  background-color: var(--color-zinc-900);
  width: 30rem;
  position: fixed;
  top: 10%;
  border-radius: 10px;
  border: 1px solid var(--color-gray-700);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 75%;
  overflow: auto;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalHeader h3 {
  font-size: 1.25rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modalSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.closeButton {
  font-size: 1.75rem;
  border: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-zinc-900);
  color: var(--color-slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.closeButton:hover {
  color: var(--color-red-400);
}

.closeButton:active {
  color: var(--color-red-500);
}

.selectedLog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-blue-500);
  border-radius: 8px;
}

.selectedLogHeader {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-blue-500);
}

.nameDateContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-slate-300);
}

.selectedLogRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--color-slate-300);
}

.calsMacrosContainer {
  display: flex;
  gap: 0.5rem;
}

.cals {
  color: var(--color-red-400);
}

.fat {
  color: var(--color-yellow-400);
}

.carbs {
  color: var(--color-green-400);
}

.protein {
  color: var(--color-blue-400);
}

.button {
  background-color: inherit;
  color: var(--color-blue-500);
  font-size: 1.25rem;
  padding: 0.75rem 0;
  border: 1px solid var(--color-blue-500);
  outline: none;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-slate-800);
}

.noMealsText {
  width: 100%;
  text-align: center;
}

.addMealToLogModalList {
  list-style: none;
  border: 1px solid var(--color-blue-500);
  border-radius: 8px;
  max-height: 16rem;
  overflow: auto;
}
