.nameAndCalories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.macros {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.9rem;
}

.macros div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calories {
  color: var(--color-red-400);
}

.fat {
  color: var(--color-yellow-400);
}

.carbs {
  color: var(--color-green-400);
}

.protein {
  color: var(--color-blue-400);
}
