.formContainer {
  padding: 1rem;
}

.createFoodNav {
  padding: 0.5rem 0 0 0;
}

.createFoodNavList {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.link {
  text-decoration: none;
  padding-bottom: 0.25rem;
  color: var(--color-gray-600);
  transition: color 0.25s ease-in-out;
}

.link:hover {
  color: var(--color-slate-400);
}

.link:global(.active) {
  color: var(--color-slate-400);
  border-bottom: 2px solid var(--color-blue-500);
}
