.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.listItem:nth-child(even) {
  background-color: var(--color-slate-800);
}

.listItem:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.listItem:hover {
  cursor: pointer;
  background-color: var(--color-gray-700);
}

li.listItem.selected {
  background-color: var(--color-blue-500);
  color: var(--color-slate-900);
}

li.listItem.selected:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
