.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.listItem:nth-child(even) {
  background-color: var(--color-slate-800);
}

.listItem:hover {
  cursor: pointer;
  background-color: var(--color-gray-600);
}
