.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
}

.link {
  text-decoration: none;
  color: var(--color-slate-300);
}

.headerNav {
  display: flex;
  gap: 2rem;
}

.headerNav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.15rem;
  color: var(--color-slate-500);
}

.headerNav a:global(.active) {
  color: var(--color-slate-300);
}

.headerNav a:hover {
  color: var(--color-slate-400);
}

.logoutButton {
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: inherit;
  color: var(--color-slate-500);
  font-size: 1.15rem;
  font-weight: 500;
  cursor: pointer;

  transition: color 0.1s ease-in-out;
}

.logoutButton:hover {
  color: var(--color-slate-400);
}

.logoutButton:active {
  color: var(--color-slate-300);
}
