.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
}

.link {
  text-decoration: none;
  color: var(--color-slate-300);
}

.headerNav {
  display: flex;
  gap: 2rem;
}

.headerNav a {
  text-decoration: none;
  color: var(--color-slate-500);
}

.headerNav a:global(.active) {
  color: var(--color-slate-300);
}

.headerNav a:hover {
  color: var(--color-slate-400);
}
