.searchFoods__Container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 65%;
  margin: auto;
  min-width: 37rem;
}

.searchFoods__Header {
  text-align: center;
}

.searchFoods__formListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchFoodsList {
  list-style: none;
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
}

.searchFoodsList__listItem {
  padding: 1rem 1.25rem;
  transition: background-color 0.2s ease-in-out;
}

.searchFoodsList__listItem:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.searchFoodsList__listItem:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.searchFoodsList__listItem:hover {
  background-color: var(--color-slate-800);
  cursor: pointer;
}

.selectedFoodData__container {
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selectedFoodData__backButton {
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  color: var(--color-slate-400);
  transition: color 0.2s ease-in-out;
}

.selectedFoodData__backButton:hover {
  cursor: pointer;
  color: var(--color-slate-300);
}
