.searchFoods__Container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 65%;
  margin: auto;
  min-width: 37rem;
}

.searchFoods__Header {
  text-align: center;
}

.searchFoods__formListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchFoodsList {
  list-style: none;
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
}

.searchFoodsList__listItem {
  padding: 1rem 1.25rem;
  transition: background-color 0.2s ease-in-out;
}

.searchFoodsList__listItem:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.searchFoodsList__listItem:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.searchFoodsList__listItem:hover {
  background-color: var(--color-slate-800);
  cursor: pointer;
}

.selectedFoodData__container {
  border: 1px solid var(--color-gray-700);
  border-radius: 8px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selectedFoodData__backButton {
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  color: var(--color-slate-400);
  transition: color 0.2s ease-in-out;
}

.selectedFoodData__backButton:hover {
  cursor: pointer;
  color: var(--color-slate-300);
}

.selectedFoodData__name {
  font-size: 2rem;
  color: var(--color-blue-400);
}

.selectedFoodData__brand {
  font-size: 1.5rem;
  color: var(--color-gray-400);
}

.selectedFoodData__gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.selectedFoodData__dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-slate-800);
  padding: 0.5rem;
  border-radius: 4px;
}

.selectedFoodData__serving {
  font-size: 1.25rem;
  color: var(--color-gray-400);
}

.selectedFoodData__label {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-blue-300);
}

.selectedFoodData__caloriesMacrosContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selectedFoodData__caloriesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.selectedFoodData__macros {
  display: flex;
  gap: 1rem;
}

.selectedFoodData__calories {
  font-size: 1.25rem;
  color: var(--color-red-400);
}

.selectedFoodData__fat {
  font-size: 1.25rem;
  color: var(--color-yellow-400);
}

.selectedFoodData__carbs {
  font-size: 1.25rem;
  color: var(--color-green-400);
}

.selectedFoodData__protein {
  font-size: 1.25rem;
  color: var(--color-blue-400);
}
