.formCover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #18181b99;
}

.spinnerContainer {
  position: absolute;
  top: 20%;
}

.inputContainer {
  width: 100%;
}
