.navbar {
  flex-basis: 10rem;
  /* padding: 1rem 0; */
}
.navList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}

.navItem {
  padding: 1rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: var(--accent);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
