.navbar {
  flex-basis: 10rem;
  /* padding: 1rem 0; */
}
.navList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
}

.navItem {
  padding: 1rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  text-decoration: none;
  color: var(--accent);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navItem:hover {
  background-color: var(--accent);
  color: var(--background);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
