.databaseListItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 1rem;
  transition: background-color 0.2s ease-in-out;
  border-bottom: 1px solid var(--color-gray-700);
}

.databaseListItem:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.databaseListItem:last-of-type {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.databaseListItem:hover {
  background-color: var(--color-slate-800);
  cursor: pointer;
}

.brandName {
  font-weight: 500;
  color: var(--color-gray-500);
}

.foodDataContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addButton {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-slate-300);
  background-color: var(--color-zinc-900);
  border: none;
  border-radius: 50%;
  font-size: 1.75rem;
  transition: color 0.2s ease-in-out;
}

.addButton:hover {
  cursor: pointer;
  color: var(--color-blue-400);
}

.addButton:disabled {
  cursor: not-allowed;
  color: var(--color-gray-700);
}
